@charset "UTF-8";

/**
 * common class
 */

input[type="submit"] {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/**
 * ページ内リンクのスクロール量を調整
 */
@media (min-width: 601px) {
  html {
    scroll-padding-top: 100px;
  }
}

/**
 * 【最重要】Heading の上マージンの修正
 *
 * 全体のバランスを要確認
 */

/**
 * Heading level 2
 */
.page_contents-box .contents_box h2 {
  margin: 60px 0 40px !important;
}

@media screen and (max-width: 600px) {
  .page_contents-box .contents_box h2 {
      margin: 8% 0 4% !important;
  }
}

/**
 * Heading level 3
 */
.page_contents-box .contents_box h3:not(.wordcamp-schedule__time-slot-header) {
  margin: 40px 0 30px !important;
}

@media screen and (max-width: 600px) {
  .page_contents-box .contents_box h3:not(.wordcamp-schedule__time-slot-header) {
    margin: 8% 0 3% !important;
  }
  .page_contents-box .contents_box h3:not(.wordcamp-schedule__time-slot-header) + p {
    margin-top: 1em !important;
  }
}

/**
 * Heading level 4 / 左パディング
 */
.page_contents-box .contents_box h4:not(.wordcamp-schedule__session-title) {
  padding: 16px 42px 16px 80px !important;
}

@media screen and (max-width: 600px) {
  .page_contents-box .contents_box h4:not(.wordcamp-schedule__session-title) {
    padding: 8px 32px;
  }
}

/**
 * ここまで
 */

/**
 * Home
 */
.home .wp-site-blocks {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.wp-site-blocks {
	padding-bottom: 0 !important;
}

article {
	line-height: 1.8;
}

/* トップページ ticket 20230726 */
.teaser-home--tickets--buttons {
	padding: 50px 0;
}

@media (min-width: 782px) {
	.teaser-home--tickets--buttons {
    padding: 80px 0;
  }
}


/* トップページ ABOUT 20230726 */
.teaser-home--abstruct.teaser-home--info {
	margin-top: 0;
}

.teaser-home--latest.teaser-home--news {
  padding: 60px 0 302px !important;
}

@media screen and (max-width: 781px) {
  .teaser-home--latest.teaser-home--news {
    padding: 15% 3% 30% !important;
  }
}

/* トップページ ABOUT・NEWS 20230726*/
.teaser-home--abstruct.teaser-home--info,
.teaser-home--abstruct.teaser-home--news {
    padding: 60px 0 120px;
}

@media screen and (max-width: 781px) {
  .teaser-home--abstruct.teaser-home--info,
  .teaser-home--abstruct.teaser-home--news {
    padding: 15% 3% 12%;
  }

  .teaser-home--latest--about {
    .wp-block-post {
      .teaser-home--latest--list {
        row-gap: 0.5rem !important;
      }
    }
  }
}

/* チケットページ 20230723 */
.page-slug-tickets .tix-tickets-list thead tr {
	color: white;
}

.page-slug-tickets .tix-tickets-list tbody .tix-column-description {
	height: 53px;
}

.page-slug-tickets .tix-column-remaining,
.page-slug-tickets .tix-column-quantity {
	min-width: 40px;
}

.page-slug-tickets td.tix-column-price,
.page-slug-tickets td.tix-column-remaining,
.page-slug-tickets td.tix-column-quantity {
	text-align: center;
}

@media (min-width: 425px) {
	.page-slug-tickets .tix_tickets_table {
		width: 100%;
	}
}

/* チケット情報登録 20230723 */
.page-slug-tickets .tix-column-per-ticket {
	text-align: center;
}

.page-slug-tickets .tix-attendee-form .tix-right,
.page-slug-tickets .tix-attendee-form .tix-left {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #999;
}

.page-slug-tickets .tix-attendee-form .tix-row-health-advisory .tix-right,
.page-slug-tickets .tix-attendee-form .tix-row-health-advisory .tix-left {
	padding-bottom: 0;
	border-bottom: none;
}

.page-slug-tickets .tix-attendee-form .tix-right {
	text-align: right;
	vertical-align: middle;
}

.tix-submit {
	float: none;
	text-align: left;
}

#tix .tix-wide-tab {
	width: calc(100% - 20px);
}

#tix .tix-submit .tix-checkout-button {
	background: #c2e7ff;
	border: 1px solid #777;
}

@media (min-width: 768px) {
	.page-slug-tickets .tix-attendee-form .tix-right {
		text-align: left;
	}

	.page-slug-tickets .tix-attendee-form .tix-right,
	.page-slug-tickets .tix-attendee-form .tix-left {
		width: 50%;
	}

	.tix-submit {
		float: right;
		text-align: right;
	}

	#tix .tix-wide-tab {
		width: 150%;
	}
}

@media (min-width: 1024px) {
	.page-slug-tickets .tix-attendee-form input[type="text"],
	.page-slug-tickets .tix-attendee-form input[type="email"],
	.page-slug-tickets .tix-attendee-form input[type="url"] {
		font-size: 16px;
	}

	.page-slug-tickets .tix-attendee-form .tix-left {
		width: calc(60% - 20px);
		padding-right: 20px;
	}

	.page-slug-tickets .tix-attendee-form .tix-right {
		width: 40%;
	}
}

/* 参加者一覧 20230726 */
#tix-attendees {
  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto !important;
		float: none !important;
  }
  .avatar {
    float: none !important;
    width: 90% !important;
    max-width: 150px;
    height: auto !important;
    border-radius: 100vh;
  }
  .tix-field {
    display: flex !important;
    column-gap: 4px;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 0 !important;
    max-width: 100%;
    word-break: break-all;
  }
}

/**
 * スポンサーページ 20230822
 *
 * ティザーサイトでの緊急対応
 */
.page-slug-sponsors {
  .wordcamp-sponsors {
    padding-left: 0;
  }

  img.wordcamp-image__featured-image {
    object-fit: contain;
  }
}

/**
 * お知らせ一覧 ページネーション 20230831
 *
 * ティザーサイトでの緊急対応
 */
.wp-block-query-pagination-numbers {
  .page-numbers {
    align-items: center;
    display: inline-flex;
    font-size: 14px;
    height: 40px;
    justify-content: center;
    line-height: 1;
    margin: 0 2px;
    text-decoration: none;
    vertical-align: top;
    width: 40px;
    background-color: transparent;
    transition: .2s ease-in-out;
    border: 1px solid #573531;
    border-radius: 4px;

    &.current {
      background-color: #573531;
      color: #fff;
    }
  }
}

.wp-block-query-pagination-previous,
.wp-block-query-pagination-next {
  text-decoration: underline !important;
}

@media (hover: hover) {
  .wp-block-query-pagination-numbers {
    a.page-numbers:hover {
      background-color: #573531;
      color: #fff;
      text-decoration: none !important;
    }
  }

  .wp-block-query-pagination-previous:hover,
  .wp-block-query-pagination-next:hover {
    text-decoration: none !important;
  }
}

/**
 * スピーカー詳細ページ 20230914
 *
 * 公開向け対応
 */
.single-wcb_speaker {
  .entry-content + div,
  .wp-block-post-date {
    display: none;
  }

  .entry-content {
    margin-top: 3rem;

    .wp-block-group.speaker-pattern {
      padding-top: 0 !important;
      margin-bottom: 3rem;

      .wp-block-group {
        padding-top: 0 !important;

        >p {
          margin-top: 1.5rem !important;
          margin-left: 0 !important;
          margin-right: 0 !important;

          @media (min-width:  64rem) {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
          }
        }
      }
    }

    .speaker-avatar {
      display: none;
    }

    .speaker-image {
      margin-top: 3rem;

      img {
        border-radius: 100vh;
      }
    }

    #speaker-session-names {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      padding-left: 0;

      li {
        padding: 0 1rem;
        border: 1px solid #4041e4;
        border-radius: 100vh;

        a {
          text-decoration: none;
          padding: 2px 12px;
        }
      }
    }
  }

  @media (min-width:  64rem) {
    .speaker-pattern {
      display: flex;
      flex-wrap: wrap;

      .speaker-image {
        width: 40%;
        margin: 0 !important;
      }

      >.wp-block-group {
        width: 60%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        padding-left: 2rem;
      }
    }
  }
}

/**
 * セッション詳細ページ 20230914
 *
 * 公開向け対応
 */
.single-wcb_session {
  .entry-content + div,
  .wp-block-post-date {
    display: none;
  }

  .entry-content > ul {
    margin-top: 0 !important;
  }

  .wp-block-group.group-track {
    padding-top: 0 !important;
  }

  .wp-block-group.speaker-group {
    padding-top: 0 !important;

    .wp-block-columns {
      gap: 4rem;

      + .wp-block-columns {
        margin-top: 4rem;
      }
    }
  }

  .wp-block-group.speaker-panel {
    padding-top: 0 !important;

    figure {
      text-align: center;

      > img {
        border-radius: 100vh;
      }
    }

    h3 {
      text-align: center;
      margin-top: 0.75rem;
    }
  }

  .session-role-group {
    display: flex;
    flex-wrap: wrap;
		justify-content: center;
    list-style-type: none;
    padding-left: 0;
    gap: 0.5rem;
    margin-top: 0.75rem;
  }

  .session-role {
    color: #fff;
    padding: 2px 10px;
    border-radius: 100vh;

    &.role-speaker {
      background-color: #289e93;
    }

    &.role-facilitator {
      background-color: #eb9451;
    }

    &.role-panelist {
      background-color: #6d6dea;
    }
	}

  .session-speakers,
  #session-speaker-names {
    display: none !important;
  }

  @media (min-width: 48.875rem) {
    .session-role {
      font-size: 12px;
    }
  }
}

/**
 * footer 共有 20230915
 *
 * jetpack が出力しているスタイルに対応
 */
div.sharedaddy {
  margin-top: 60px;

  h3.sd-title {
    padding-left: 0 !important;
  }

	h3.sd-title::before {
		display: none !important;
	}
}

/**
 * 緊急対応 20230915
 *
 * .wp-block-group の padding-top
 */

/**
 * 共通パーツ 20230915
 */
.wp-block-group.common--footer,
.wp-block-group.common--footer--copyright {
	padding-top: 0 !important;
}

/**
 * トップページ 20230915
 */
.wp-block-group.teaser-home--about--content,
.wp-block-group.teaser-home--about--content,
.wp-block-group.teaser-home--abstruct--content,
.wp-block-group.teaser-home--sponsors--content,
.teaser-home--latest--about .wp-block-post .wp-block-columns .wp-block-column>.wp-block-group {
  padding-top: 0 !important;
}

/**
 * チケットページ チケット購入テーブルのスタイル 20230916
 */
.page-slug-tickets {
  .tix_tickets_table.tix-tickets-list {
    th, td {
      min-width: auto;
    }
  }
}

/**
 * チケット購入ボタン 20230916
 *
 * スタイルの反映
 */
.tix_tickets_table.tix-tickets-list + p > input[type="submit"] {
  background: #e67823 !important;
  border-radius: 100vh;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 15px 40px;
  text-decoration: none;
  filter: drop-shadow(8px 8px 0px rgba(0, 0, 0, 0.25));
  position: relative;
  margin-right: 10px;
}

.tix_tickets_table.tix-tickets-list + p > input[type="submit"]::after {
  content: "▶";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  font-size: 14px;
  color: #fff;
}

/**
 * スマホナビゲーション 子要素のスタイル 20230916
 */
.has-modal-open {
  li.has-child {
    .wp-block-navigation-submenu {
      li a {
        padding: 4% 6% 4% 14% !important;
        width: 80% !important;
        background-color: #e1d5c6;
      }
    }
  }
}

/**
 * 投稿 post-meta のスタイル 20230917
 */
.single-post {
  @media screen and (max-width: 600px) {
    .wp-block-post-title + .wp-block-template-part > .wp-block-group {
      flex-wrap: wrap;
      column-gap: 1rem;
      row-gap: 0;
    }
  }

  .page_contents-box .contents_box {
    .wp-block-post-date {
      margin-right: 0 !important;

      time {
        font-family: josefin sans, sans-serif !important;
        font-size: 16px !important;

        @media screen and (max-width: 600px) {
          font-size: 14px !important;
        }
      }
    }

    .taxonomy-category {
      display: flex;
    }

    .wp-block-post-author-name.has-noto-sans-jp-font-family {
      font-family: josefin sans, sans-serif !important;
    }

    .wp-block-post-author-name.has-noto-sans-jp-font-family::before {
      font-family: josefin sans, sans-serif !important;
      content: "posted by: ";
    }
  }
}

/**
 * 登壇者・セッションのスタイル 20230918
 */
.single-wcb_speaker,
.single-wcb_session {
  .wp-block-post-title + .wp-block-template-part {
    display: none;
  }
}

/**
  * セッション詳細 立ち見フラグのスタイル 20230918
  */

/** 立ち見NG **/
.session-categories-links a {
  display: inline-block;
  font-style: normal;
  font-size: 14px !important;
  padding: 2px 8px;
  color: #fff !important;
  text-decoration: none !important;
  pointer-events: none;
  background-color: #a31e36;
  border-radius: 4px;
}

/** 立ち見OK **/
.single-wcb_session.postid-1297,
.single-wcb_session.postid-1321,
.single-wcb_session.postid-1319 {
  .session-categories-links a {
    background-color: #1e756d;
  }
}

/** 要事前申込 **/
.single-wcb_session.postid-1338 {
  .session-categories-links a {
    background-color: #e67823;
  }
}

/**
 * オーガナイザー一覧のスタイル 20230918
 */
.page-slug-organizers {
  .wordcamp-post-list.wordcamp-organizers {
    padding-left: 0;
  }

  .wordcamp-organizer.wordcamp-organizers__post {
    .wordcamp-image__avatar-container img {
      border-radius: 100vh;
    }
  }
}

/**
 * タイムテーブル 20230916 - 20230918
 *
 * 本公開向け
 */
.page-slug-timetable {
  .timetable-nav {
    margin-bottom: 4rem !important;

    .wp-block-button__link {
      min-width: auto !important;
    }
  }

  .wordcamp-schedule__date {
    display: none !important;
  }

  .wp-block-post-content {
    .has-slug-lunch-time,
    .has-slug-after-party-open {
      background: #d1d7df;
    }

    .has-slug-break-time1,
    .has-slug-break-time2,
    .has-slug-break-time3,
    .has-slug-close,
    .has-slug-close-2 {
      background: #b3bcca;
    }
  }

  .wordcamp-schedule__session-speakers::after {
    display: block;
    font-size: 14px;
    background-color: #f3eee8;
    border-radius: 4px;
    white-space: pre-wrap;
    padding: 0.5em 0.75em;
    margin-top: 1em;
  }

  /** 開会式・閉会式 **/
  #wordcamp-schedule__session-1297,
  #wordcamp-schedule__session-1321 {
    .wordcamp-schedule__session-speakers {
      display: none;
    }
  }

  /** WordPressコアやGutenbergでは今何が開発されているか **/
  #wordcamp-schedule__session-1299 {
    .wordcamp-schedule__session-speakers::after {
      content: "スピーカー・パネリスト：浜野 哲明\Aパネリスト：Toro_Unit / 占部 紘、Mike Schroder\Aファシリテーター：Toru Miki";
    }
  }

  /** 大規模言語モデルではじめる自動化 – LLMはWordPress制作・運用をどう変えるのか？ **/
  #wordcamp-schedule__session-1301 {
    .wordcamp-schedule__session-speakers::after {
      content: "スピーカー：岡本 秀高\A参加者によるグループディスカッション";
    }
  }

  /** これからのテーマ・プラグイン販売を考える **/
  #wordcamp-schedule__session-1311 {
    .wordcamp-schedule__session-speakers::after {
      content: "スピーカー・パネリスト：石川 栄和\Aパネリスト：了、アクツ ユミ\Aファシリテーター：Shusei Toda";
    }
  }

  /** 環境変化の激しいWordPressのメンテナンスをどう考えるか **/
  #wordcamp-schedule__session-1313 {
    .wordcamp-schedule__session-speakers::after {
      content: "スピーカー・パネリスト：遠藤 進悟\Aパネリスト：小島 健司、川井 昌彦\Aファシリテーター：コスギ サヤカ";
    }
  }

  /** これからのWordPressテーマとの付き合い方 **/
  #wordcamp-schedule__session-1315 {
    .wordcamp-schedule__session-speakers::after {
      content: "スピーカー・パネリスト：久野 晃司\Aパネリスト：キタジマ タカシ、タカミ アラタ\Aファシリテーター：齋木 弘樹";
    }
  }

  /** 私たちが WordPress を使い続けられる理由 **/
  #wordcamp-schedule__session-1317 {
    .wordcamp-schedule__session-speakers::after {
      content: "スピーカー・ファシリテーター：額賀 順子\Aパネリスト：立花 明、三宅 伊都子、Ben、Ryo Tsugawa";
    }
  }

  /** WordPressはいったいどこにいくのか 〜仕事・AI・サステナビリティ〜 **/
  #wordcamp-schedule__session-1319 {
    .wordcamp-schedule__session-speakers::after {
      content: "パネリスト：高野 直子、高橋 文樹、大串 めがね 肇";
    }
  }

  @media (min-width: 550px) {
    .wordcamp-schedule__column-header {
      color: #fff;
      padding: 10px 5px !important;
      margin: 0;

      +.wordcamp-schedule__column-header {
        border-left: 1px solid #fbfbfc;
      }
    }

    .wordcamp-schedule.session-area {
      .wordcamp-schedule__column-header {
        background-color: #1e756d !important;
      }
    }

    .wordcamp-schedule.mingle-area {
      .wordcamp-schedule__column-header {
        background-color: #4041e4 !important;
      }
    }

    .wordcamp-schedule__time-slot-header {
      min-width: auto;
      background-color: #eff1f4 !important;
    }
  }

  @media (min-width: 601px) {
    .wordcamp-schedule__session-title + p {
      margin-bottom: 1em !important;
    }
  }

  @media (min-width: 1240px) {
    .wordcamp-schedule__column-header {
      font-size: 0.875em;
    }
  }

  /**
   * 立ち見フラグのスタイル
   */

  /** 立ち見NG **/
  .wordcamp-schedule__session-category dd {
    display: inline-block;
    font-style: normal;
    font-size: 12px;
    padding: 2px 8px;
    color: #fff !important;
    background-color: #a31e36;
    border-radius: 4px;
  }

  /** 立ち見OK **/
  #wordcamp-schedule__session-1297,
  #wordcamp-schedule__session-1321,
  #wordcamp-schedule__session-1319 {
    .wordcamp-schedule__session-category dd {
      background-color: #1e756d;
    }
  }

  /** 要事前申込 **/
  #wordcamp-schedule__session-1338 {
    .wordcamp-schedule__session-category dd {
      background-color: #e67823;
    }
  }
}

/**
 * フロアマップページ 20230921
 */
.page-slug-floor-map {
  figure {
    text-align: center;
  }

  figure + p > strong {
    background: none !important;
  }

  figure + p + ul {
    margin-top: 0 !important;
  }

  figure + p + ul > li > ul {
    margin-bottom: 0 !important;
  }

  @media (min-width: 600px) {
    figure + p {
      margin-bottom: 1rem !important;
    }

    figure + p + ul {
      margin-bottom: 48px !important;
    }
  }
}

/**
 * ボランティアページ レイアウト崩れ修正 20230921
 */
.page-slug-volunteers {
  .page_contents-box .contents_box ul {
    margin-bottom: 0 !important;
  }
}

/**
 * リードチーム 開会式と閉会式のリンクを削除 20230921
 */
.postid-2336,
.postid-2812 {
  .page_contents {
    #speaker-session-names {
      li:not(:first-child) {
        display: none;
      }
    }
  }
}
