/**
 * sponsor
 */
 @use '../global-styles-inline-css' as g;
 @use '../_variables' as v;
 @use '../_mixins' as m;

 .sponsors{
    position: relative;
    &:before{
        content: '';
        background: url("https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/main/images/sponsor_bg-top.svg") repeat-x bottom right / auto 100%;
        width: 100vw;
        height: 174px;
        position: absolute;
        top: -174px;
        right: 0;
        z-index: 0;
        @include v.mq(){
          height: 17vw;
          top: -16.5vw;
        }
      }
      &:after{
        content: '';
        background: url(https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/feature/Issue_66/images/under/main-bottom_bg.svg) repeat-x bottom right / auto 100%;
        width: 100vw;
        height: 208px;
        position: absolute;
        bottom: -120px;
        right: 0;
        display: block;
        @include v.mq(){
            width: 103vw;
            right: -3px;
            height: 18vw;
            bottom: -10vw;
        }
    }
    &_box{
        position: relative;
        &:before{
            content: '';
            background: url(https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/feature/Issue_91/images/sponsor_mark-top.svg) no-repeat center center / contain;
            width: 509px;
            height: 487px;
            position: absolute;
            top: -110px;
            right: 0;
            z-index: 2;
            @include v.mq(tab){
                width: 35.347222vw;
                height: 33.819444vw;
                top: -20vw;
            }
        }
        &:after{
            content: '';
            background: url(https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/feature/Issue_91/images/sponsor_mark-bottom.svg) no-repeat center center / contain;
            width: 513px;
            height: 489px;
            position: absolute;
            bottom: -160px;
            left: 0;
            z-index: 2;
            @include v.mq(tab){
                width: 35.625vw;
                height: 33.958333vw;
                bottom: -18vw;
            }
        }
        &-inner{
            position: relative;
            z-index: 5;
            &:before{
                content: '';
                background: url(https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/feature/Issue_91/images/trumpet.svg) no-repeat center center / contain;
                width: 295px;
                height: 426px;
                position: absolute;
                right: 3.680556vw;
                top: -400px;
                z-index: 1;
                @include v.mq(tab){
                    width: 26.6319443vw;
                    height: 38.4583329vw;
                    top: -38vw;
                }
            }
            &:after{
                content: '';
                background: url(https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/feature/Issue_91/images/cymbal.svg) no-repeat center center / contain;
                width: 324px;
                height: 387px;
                position: absolute;
                left: 5.555556vw;
                bottom: -370px;
                z-index: 1;
                @include v.mq(tab){
                    width: 29.25vw;
                    height: 34.9375vw;
                    bottom: -35vw;
                }
            }
        }
    }
    &_ttl{
        text-align: center;
        color: g.$wp--preset--color--wc-23-white;
        font-size: 32px;
        position: relative;
        @include v.mq(){
            font-size: 22px;
        }
        &::before{
            content: '';
            @include m.abs-top();
            left: 0;
            height: 1px;
            width: 100%;
            background: g.$wp--preset--color--wc-23-white;
        }
        .txt{
            background: g.$wp--preset--color--wc-23-emerald;
            margin: 0 auto;
            display: inline-block;
            padding: 0 40px;
            position: relative;
            z-index: 2;
            @include v.mq(){
                padding: 0 20px;
            }
        }
    }
    &_gold{
        margin: 0 auto 60px  !important;
        padding: 0 20px;
        @include v.mq(){
            margin: 0 auto 30px  !important;
        }
        &-list{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 40px;
            @include v.mq(){
                gap: 20px;
                margin-top:10px;
            }
            > figure{
                width: calc((100% - 40px)/2);
                flex-basis: calc((100% - 40px)/2);
                background: g.$wp--preset--color--wc-23-white;
                @include v.mq(){
                    width: calc((100% - 20px)/2);
                    flex-basis: calc((100% - 20px)/2);
                }
            }
        }
    }
    &_silver{
        margin: 0 auto 60px  !important;
        padding: 0 20px;
        @include v.mq(){
            margin: 0 auto 30px  !important;
        }
        &-list{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 40px;
            @include v.mq(){
                gap: 20px;
                margin-top:10px;
            }
            > figure{
                width: calc((100% - 80px)/3);
                flex-basis: calc((100% - 80px)/3);
                background: g.$wp--preset--color--wc-23-white;
                @include v.mq(){
                    width: calc((100% - 40px)/3);
                    flex-basis: calc((100% - 40px)/3);
                }
            }
        }
    }
    &_bronze,
    &_lunch{
        margin: 0 auto 32px !important;
        padding: 0 20px;
        @include v.mq(){
            margin: 0 auto 24px !important;
        }
        &-list{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 40px;
            @include v.mq(){
                gap: 20px;
                margin-top:10px;
            }
            > figure{
                width: calc((100% - 120px)/4);
                flex-basis: calc((100% - 120px)/4);
                background: g.$wp--preset--color--wc-23-white;
                @include v.mq(){
                    width: calc((100% - 60px)/4);
                    flex-basis: calc((100% - 60px)/4);
                }
            }
        }
    }
 }