/**
 * front-page / front-page-content
 */
@use '../global-styles-inline-css' as g;
@use '../_variables' as v;

// トップページ コンテンツエリア
.p-section-front-page-content {
  padding-top: 0;
}

// トップページ ヒーローイメージ
.top-hero-image {
  min-height: calc(100svh - 47px);

  @media (min-width: 40rem) {
    min-height: calc(100svh - 52px);
  }

  @media (min-width: 64rem) {
    min-height: calc(100svh - 64px);
  }
}

// ブロークングリッド
.smb-section-break-the-grid__header {
  background: var(--bg-gird);
  padding: 5px;
}

@media (min-width: 40rem) {
  .smb-section-break-the-grid__header {
    padding: 20px;
  }
}


.teaser{
  &-heading-subtext{
    > span{
      position: relative;
      padding-left: 40px;
      &:before{
        content: '';
        width: 32px;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
      &.white-line{
        &::before{
          background: g.$wp--preset--color--wc-23-white;
        }
      }
      &.black-line{
        &::before{
          background: g.$wp--preset--color--wc-23-black;
        }
      }
    }
    &.center{
      text-align: center;
    }
    &.right{
      text-align: right;
    }
  }
  &-button{
    &-more{
      .wp-element-button{
        background: transparent url('https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/main/images/arrow-right.svg') no-repeat bottom right / contain;
        width: 155px;
        text-align: left;
        padding: 4px 0;
      }
    }
  }
  &-home{
    // NOTE: home kv
    &--kv{
      padding: 170px 0 194px !important;
      background-image: url(https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/3a67484d9866fd628437157b55fdbfd0f1a60102/images/main_bg.svg);
      background-repeat: no-repeat;
      background-position: top center;
      background-size: auto 100%;
      @include v.mq(){
        padding: 10% 3% 20% !important;
        background-size: 160% auto;
      }
      &--text{
        text-shadow: 2px 2px 0 g.$wp--preset--color--wc-23-milk, -2px 2px 0 g.$wp--preset--color--wc-23-milk, 2px -2px 0 g.$wp--preset--color--wc-23-milk, -2px -2px 0 g.$wp--preset--color--wc-23-milk;
      }
      &--info{
        &.wp-block-column.wp-block-column-is-layout-flow{
          align-self: auto;
          @include v.mq(){
            position: relative;
            z-index: 2;
          }
        }
      }
      &--logo{
        @include v.mq(){
          img{
            width: 65vw;
          }
        }
      }
      &--wapuu{
        @include v.mq(){
          position: absolute;
          right: 5%;
          top: 30%;
          text-align: right;
          z-index: 1;
          img{
            width: 35vw;
          }
        }
      }
    }

  //What Is WordCamp?
    &--about{
      position: relative;
      padding: 0 !important;
      &:before{
        content: '';
        background: url("https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/main/images/what_bg-top.svg") repeat-x bottom right / auto 100%;
        width: 100vw;
        height: 286px;
        position: absolute;
        top: -286px;
        right: 0;
        z-index: 0;
        @include v.mq(){
          height: 28vw;
          top: -28vw;
        }
      }
      &:after{
        content: '';
        background: url("https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/main/images/what_bg-bottom.svg") repeat-x top right / auto 100%;
        width: 100vw;
        height: 148px;
        position: absolute;
        right: 0;
        z-index: 0;
        @include v.mq(){
          height: 14vw;
        }
      }
      &--content{
        @include v.mq(){
          padding: 0 3%;
        }
        &--column{
          position: relative;
          z-index: 2;
          flex-direction: row-reverse;
        }
        &--mark{
          position: absolute;
          right: 0;
          bottom: -18px;
          z-index: 1;
          @include v.mq(){
            bottom: -1.2vw;
            img{
              width: 50vw;
            }
          }
        }
        &--link{
          @include v.mq(){
            justify-content: center;
          }
          .is-style-outline{
            a{
              position: relative;
              font-size: 20px;
              display: block;
              &::after{
                content: '▶';
                font-size: 14px;
                position: absolute;
                right: 22px;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }
      }
    }

    &--abstruct{
      padding: 152px 0 24px;
      @include v.mq(){
        padding: 15% 3% 2%;
      }
    }
    &--latest{
      padding: 0 0 302px;
      @include v.mq(){
        padding: 0 3% 30%;
      }
    }
    &--sponsors{
      position: relative;
      padding: 0 !important;
      @include v.mq(){
        padding: 0 3% !important;
      }
      &:before{
        content: '';
        background: url("https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/main/images/sponsor_bg-top.svg") repeat-x bottom right / auto 100%;
        width: 100vw;
        height: 174px;
        position: absolute;
        top: -174px;
        right: 0;
        z-index: 0;
        @include v.mq(){
          height: 17vw;
          top: -17vw;
        }
      }
      &:after{
        content: '';
        background: url("https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/main/images/sponsor_bg-bottom.svg") repeat-x top left / auto 100%;
        width: 100vw;
        height: 148px;
        position: absolute;
        left: 0;
        z-index: 0;
        @include v.mq(){
          height: 15vw;
        }
      }
      &--content{
        padding: 115px 0;
        &--column{
          position: relative;
          z-index: 2;
          justify-content: center;
          flex-wrap: wrap;
          .wp-block-column{
            background: g.$wp--preset--color--wc-23-white;
            border-radius: 4px;
          }
        }
        &--mark{
          position: absolute;
          left: 0;
          bottom: -18px;
          z-index: 1;
          @include v.mq(){
            bottom: -1.2vw;
            img{
              width: 50vw;
            }
          }
        }
      }
    }
    &--contact{
      &--content{
        padding-top: 118px;
        @include v.mq(){
          padding: 12% 3% 0 !important;
        }
      }
    }
  }
}

//新着情報
.post{
  .taxonomy-category{
    width: 122px;
    border-radius: 4px;
    a{
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      color: g.$wp--preset--color--wc-23-black;
      &:before{
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 8px;
      }
    }
  }
}

//募集
.category-recruitment{
  .taxonomy-category{
    border: 1px solid g.$wp--preset--color--wc-23-pumpkin;
    a{
      &:before{
        background: g.$wp--preset--color--wc-23-pumpkin;
      }
    }
  }
}
//お知らせ
.category-news{
  .taxonomy-category{
    border: 1px solid g.$wp--preset--color--wc-23-emerald;
    a{
      &:before{
        background: g.$wp--preset--color--wc-23-emerald;
      }
    }
  }
}

.common--footer{
  background: url(https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/main/images/footer_bg.svg) repeat-x center bottom / auto 100%;
  @include v.mq(){
    background-size: 260% auto;
  }
}