/**
 * front-page / front-page-content
 */
@use '../global-styles-inline-css' as g;

// トップページ コンテンツエリア
.p-section-front-page-content {
  padding-top: 0;
}

// トップページ ヒーローイメージ
.top-hero-image {
  min-height: calc(100svh - 47px);

  @media (min-width: 40rem) {
    min-height: calc(100svh - 52px);
  }

  @media (min-width: 64rem) {
    min-height: calc(100svh - 64px);
  }
}

// ブロークングリッド
.smb-section-break-the-grid__header {
  background: var(--bg-gird);
  padding: 5px;
}

@media (min-width: 40rem) {
  .smb-section-break-the-grid__header {
    padding: 20px;
  }
}


.teaser{
  &-heading-subtext{
    > span{
      position: relative;
      padding-left: 40px;
      &:before{
        content: '';
        width: 32px;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
      &.white-line{
        &::before{
          background: g.$wp--preset--color--wc-23-white;
        }
      }
      &.black-line{
        &::before{
          background: g.$wp--preset--color--wc-23-black;
        }
      }
    }
    &.center{
      text-align: center;
    }
    &.right{
      text-align: right;
    }
  }
  &-home{
    //kv
    &--kv{
      padding: 170px 0 194px !important;
      background-size: auto 100%;
      &--text{
        text-shadow: 2px 2px 0 g.$wp--preset--color--wc-23-milk, -2px 2px 0 g.$wp--preset--color--wc-23-milk, 2px -2px 0 g.$wp--preset--color--wc-23-milk, -2px -2px 0 g.$wp--preset--color--wc-23-milk;
      }
      &--info{
        &.wp-block-column.wp-block-column-is-layout-flow{
          align-self: auto;
        }
      }
    }

  //What Is WordCamp?
    &--about{
      position: relative;
      padding: 0 !important;
      &:before{
        content: '';
        background: url("https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/main/images/what_bg-top.svg") repeat-x bottom right / auto 100%;
        width: 100vw;
        height: 286px;
        position: absolute;
        top: -286px;
        right: 0;
        z-index: 0;
      }
      &:after{
        content: '';
        background: url("https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/main/images/what_bg-bottom.svg") repeat-x top right / auto 100%;
        width: 100vw;
        height: 148px;
        position: absolute;
        right: 0;
        z-index: 0;
      }
      &--content{
        &--column{
          position: relative;
          z-index: 2;
        }
        &--mark{
          position: absolute;
          right: 0;
          bottom: -18px;
          z-index: 1;
        }
        &--link{
          .wp-block-buttons{
            position: relative;
            font-size: 20px;
            display: block;
            &::after{
              content: '▶';
              font-size: 14px;
              position: absolute;
              right: 22px;
            }
          }
        }
      }
    }

    &--abstruct{
      padding: 152px 0 24px;
    }
    &--latest{
      padding: 0 0 ;
    }
    &--sponsors{

    }

  }
}

