/**
 * front-page / front-page-content
 */
@use '../global-styles-inline-css' as g;
@use '../_variables' as v;
@use '../_mixins' as m;

.main_ttl{
  text-align: center;
  &.white{
    color: g.$wp--preset--color--wc-23-white;
  }
  &-en{
    margin: 0;
    font-size: 64px;
    line-height: 128%;
    @include v.mq(){
      font-size: 32px;
  }
  }
  &-sub{
    margin: 0 auto;
    font-size: 20px;
    line-height: 128%;
    @include v.mq(){
      font-size: 16px;
    }
    .white-line{
      position: relative;
      padding-left: 40px;
      @include v.mq(){
        padding-left: 32px;
      }
      &:before{
        content: '';
        @include m.abs_top();
        left: 0;
        height: 1px;
        background: g.$wp--preset--color--wc-23-white;
        width: 32px;
        margin-right: 8px;
        @include v.mq(){
          width: 24px;
        }
      }
    }
    .black-line{
      position: relative;
      padding-left: 40px;
      &:before{
        content: '';
        @include m.abs_top();
        left: 0;
        height: 1px;
        background: g.$wp--preset--color--wc-23-black;
        width: 32px;
        margin-right: 8px;
        @include v.mq(){
          width: 24px;
        }
      }
    }
  }
}

.mainvisual{
  overflow: hidden;
  position: relative;
  background-color: g.$wp--preset--color--wc-23-milk;
  padding-bottom: 190px !important;
  @include v.mq(){
    padding-bottom: 100px !important;
  }
  &:before,
  &:after{
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
  }
  &:before{
    background: url(https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/b74f2086d857c5d074baeea12e074f30af20ff9f/images/top-left_bg.svg) no-repeat top right / auto 100%;
    right: 68%;
    @include v.mq(tab){
      background-image: url(https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/feature/Issue_87/images/top-left_bg-tab.svg);
      right: 60%;
    }
    @include v.mq(){
      right: 55%;
    }
  }
  &::after{
    background: url(https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/b74f2086d857c5d074baeea12e074f30af20ff9f/images/top-right_bg.svg) no-repeat top left /  auto 100%;
    left: 71%;
    @include v.mq(tab){
      background-image: url(https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/feature/Issue_87/images/top-right_bg-tab.svg);
      left: 65%;
    }
    @include v.mq(){
      left: 58%;
    }
  }
  &_box{
    position: relative;
    z-index: 2;
    width: 460px;
    margin: 0 auto;
    @include v.mq(tab){
      width: auto;
    }
    .img_box{
      width: 372px;
      margin: 0 auto 12px;
      @include v.mq(tab){
        width: 249px;
      }
      @include v.mq(){
        width: 200px;
        margin: 0 auto 18px;
      }
      .wapuu{
        &.wp-block-image{
          margin: 0 auto;
          width: 100%;
          img{
            display: block;
            width: 100%;
            margin: 0 auto;
          }
        }
        &_pc{
          display: block;
          @include v.mq(){
            display: none;
          }
        }
        &_sp{
          display: none;
          @include v.mq(){
            display: block;
          }
        }
      }
    }
    .lead{
      font-size: 32px;
      line-height: 128%;
      margin: 0;
      @include v.mq(tab){
        font-size: 20px;
      }
    }
  }
}

.linkarea{
  position: relative;
  background-color: g.$wp--preset--color--wc-23-azure;
  padding: 140px 0 130px !important;
  @include v.mq(tab){
    padding: 10vw 0 16.25vw !important;
  }
  @include v.mq(){
    padding: 6% 0 13% !important;
  }
  &:before{
    content: '';
    background: url("https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/feature/Issue_88/images/link_bg-top.svg") repeat-x bottom right / auto 100%;
    width: 100vw;
    height: 164px;
    position: absolute;
    top: -164px;
    right: 0;
    z-index: 0;
    @include v.mq(){
      height: 28vw;
      top: -27.8vw;
    }
  }
  &:after{
    content: '';
    background: url("https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/main/images/what_bg-bottom.svg") repeat-x top right / auto 100%;
    width: 100vw;
    height: 148px;
    position: absolute;
    right: 0;
    bottom: -148px;
    z-index: 0;
    @include v.mq(){
      height: 14vw;
      bottom: -13.8vw;
      background-position-x: -65%;
    }
  }
  &_list{
      display: flex;
      column-gap: 40px;
      position: relative;
      z-index: 2;
      width: 920px;
      margin: 0 auto;
    @include v.mq(wide){
      width: 83.636364vw;
      column-gap: 3.636364vw;
    }
    &-box{
      width: 280px;
      height: 280px;
      background: g.$wp--preset--color--wc-23-milk;
      box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 32px 16px;
      @include v.mq(wide){
        width: 25.454545vw;
        height: 25.454545vw;
        padding: 2.909091vw 1.454545vw;
      }
      @include v.mq(){
        box-shadow: 1.25vw 1.25vw 0px 0px rgba(0, 0, 0, 0.25);
      }
      figure{
        img{
          filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.25));
        }
      }
      p{
        margin: auto 0 0;
        font-size: 24px;
        @include v.mq(tab){
          font-size: 16px;
        }
        @include v.mq(){
          font-size: 12px;
        }
        @include v.mq(sp){
          font-size: 10px;
        }
      }
      &.timetable{
        figure{
          margin: 26px auto 0;
          @include v.mq(wide){
            margin: 2.363636vw auto 0;
            img{
              width: 13.272727vw;
            }
          }
        }
      }
      &.floormap{
        figure{
          margin: 20px auto 0;
          @include v.mq(wide){
            margin: 1.818182vw auto 0;
            img{
              width: 11.818182vw;
            }
          }
        }
      }
      &.access{
        figure{
          margin: 20px auto 0;
          @include v.mq(wide){
            margin: 1.818182vw auto 0;
            img{
              width: 10.818182vw;
            }
          }
        }
      }
    }
  }
  &_box{
    &:after{
      content: '';
      background: url(https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/feature/Issue_88/images/link_mark.svg) no-repeat bottom right / contain;
      width: 600px;
      height: 402px;
      position: absolute;
      right: 0;
      bottom: -24px;
      z-index: 1;
      @include v.mq(tab){
        width: 52.5vw;
        height: 35.125vw;
        bottom: -1vw;
      }
    }
  }
  &_wapuu{
    position: absolute;
    z-index: 3;
    right: 0;
    bottom: -330px;
    @include v.mq(tab){
      width: 46.375vw;
      bottom: -28vw;
    }
    @include v.mq(){
      bottom: -30vw;
    }
  }
}