/**
 * front-page / front-page-content
 */
@use '../global-styles-inline-css' as g;
@use '../_variables' as v;

.mainvisual{
  overflow: hidden;
  position: relative;
  background-color: g.$wp--preset--color--wc-23-milk;
  padding-bottom: 190px !important;
  &:before,
  &:after{
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 45%;
  }
  &:before{
    background: url(https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/b74f2086d857c5d074baeea12e074f30af20ff9f/images/top-left_bg.svg) no-repeat top left / contain;
    right: 65%;
    @include v.mq(pc){
      background: url(https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/b74f2086d857c5d074baeea12e074f30af20ff9f/images/top-left_bg-tab.svg) no-repeat top left / contain;
    }
  }
  &::after{
    background: url(https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/b74f2086d857c5d074baeea12e074f30af20ff9f/images/top-right_bg.svg) no-repeat top right / contain;
    left: 65%;
    @include v.mq(pc){
      background: url(https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/b74f2086d857c5d074baeea12e074f30af20ff9f/images/top-right_bg-tab.svg) no-repeat top right / contain;
    }
  }
  &_box{
    position: relative;
    z-index: 2;
    width: max(34.722222vw, 500px);
    margin: 0 auto;
    @include v.mq(){
    }
    .wapuu{
      &.wp-block-image{
        transform: rotate(21.677deg);
        padding-left: 60px;
        padding-bottom: 10px;
        img{
          height: 428px;
        }
      }
    }
    .logo{
      width: 340px;
      margin: -30px auto 18px;
    }
    .lead{
      font-size: 32px;
      line-height: 128%;
      margin: 0;
    }
  }
}