/**
 * 固定ページ
 */

@use '../_global-styles-inline-css' as g;
@use '../_variables' as v;
@use '../_mixins' as m;

.under_mv{
    background: g.$wp--preset--color--wc-23-milk url(https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/feature/Issue_66/images/under/header_bg.svg) top center / cover;
    padding: 65px 0;
    &_box{
        &:before{
            content: '';
            @include m.abs_top-center();
            background: url(https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/feature/Issue_66/images/under/wapuu.svg) no-repeat top center / contain;
            height: 358px;
            width: 72vw;
        }
        min-height: 358px;
        position: relative;
        padding: 65px 0;
    }
    &_ttl{
        margin: 0 auto 24px;
        img{
            margin: 0 auto;
            display: block;
            width: 29.861111vw;
            // height: 160px;
        }
    }
    &_date{
        font-size: max(30px, 16px);
        line-height: 128%;
    }
}

.page{
    &_contents{
        background: g.$wp--preset--color--wc-23-emerald;
        position: relative;
        margin: 0 auto;
        &::before{
            content: '';
            background: url(https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/feature/Issue_66/images/under/main-top_bg.svg) repeat-x bottom right / auto 100%;
            width: 100vw;
            height: 208px;
            position: absolute;
            top: -140px;
            right: 0;
            display: block;
        }
        &:after{
            content: '';
            background: url(https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/feature/Issue_66/images/under/main-bottom_bg.svg) repeat-x bottom right / auto 100%;
            width: 100vw;
            height: 208px;
            position: absolute;
            bottom: -120px;
            right: 0;
            display: block;
        }
        &-box{
            margin: 0 auto;
            &:before{
                content: '';
                background: url(https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/feature/Issue_66/images/under/mark-top.svg) no-repeat top right / contain;
                width: 282px;
                height: 429px;
                position: absolute;
                top: -80px;
                right: 0;
                display: block;
                z-index: 1;
            }
            &:after{
                content: '';
                background: url(https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/feature/Issue_66/images/under/mark-bottom.svg) no-repeat bottom left / contain;
                width: 497px;
                height: 474px;
                position: absolute;
                bottom: -50px;
                left: 0;
                display: block;
                z-index: 1;
            }
            .contents_box{
                width: 920px;
                margin: 0 auto;
                background: g.$wp--preset--color--wc-23-white;
                border-radius: 50px;
                position: relative;
                z-index: 2;
                padding: 48px 90px;
                h1{
                    font-size: 32px;
                    font-weight: bold;
                    color: g.$wp--preset--color--wc-23-jackolantern;
                    margin: 0 0 32px;
                    text-align: left;
                    position: relative;
                    padding-left: 52px;
                    &::before{
                        content: '';
                        background: url(https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/feature/Issue_66/images/under/h1.svg) no-repeat center center / contain;
                        width: 36px;
                        height: 42px;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
                h2{
                    font-size: 32px;
                    font-weight: bold;
                    color: g.$wp--preset--color--wc-23-jackolantern;
                    margin: 0 0 40px;
                    text-align: left;
                    display: flex;
                    position: relative;
                    padding-left: 74px;
                    &::before{
                        content: '';
                        background: url(https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/feature/Issue_66/images/under/h2.svg) no-repeat center center / contain;
                        width: 66px;
                        height: 42px;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    &:after{
                        content: '';
                        position: absolute;
                        bottom: -6px;
                        left: 0;
                        width: 100%;
                        height: 4px;
                        background: g.$wp--preset--color--wc-23-emerald;
                    }
                }
                h3{
                    font-size: 24px;
                    font-weight: bold;
                    color: g.$wp--preset--color--wc-23-jackolantern;
                    margin: 0 0 38px;
                    text-align: left;
                    position: relative;
                    padding-left: 70px;
                    &::before{
                        content: '';
                        background: url(https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/feature/Issue_66/images/under/h3.svg) no-repeat center center / contain;
                        width: 54px;
                        height: 40px;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
                h4{
                    font-size: 18px;
                    font-weight: bold;
                    color: g.$wp--preset--color--wc-23-white;
                    background: g.$wp--preset--color--wc-23-emerald;
                    border-radius: 50vh;
                    position: relative;
                    padding: 16px 42px;
                    &::before{
                        content: '';
                        background: url(https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/feature/Issue_66/images/under/h4_left.svg) no-repeat center center / contain;
                        width: 46px;
                        height: 38px;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                    &::after{
                        content: '';
                        background: url(https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/feature/Issue_66/images/under/h4_right.svg) no-repeat center center / contain;
                        width: 51px;
                        height: 50px;
                        position: absolute;
                        right: 0;
                        bottom: 0;
                    }
                }
                strong{
                    position: relative;
                    &::after{
                        content: '';
                        background: g.$wp--preset--color--wc-23-pumpkin;
                        width: 103%;
                        height: 80%;
                        position: absolute;
                        bottom: -4px;
                        left: -1.5%;
                        z-index: -1;
                    }
                }
                .wp-block-post-date{
                    font-size: 14px;
                }
                .wp-block-post-featured-image{
                    margin-bottom: 30px;
                }
            }
        }
    }
}