/**
 * global-nav / global-nav
 */
 @use '../global-styles-inline-css' as g;
 @use '../_variables' as v;

.header_area{
    .wp-block-navigation{
        width: 1147px;
        margin: 0 auto;
        font-family: 'Manrope', sans-serif;
        font-size: 16px;
        font-weight: bold;
        gap: 0;
        justify-content: center;
        @media screen and (max-width: 1200px){
            width: 100%;
            font-size: 14px;
        }
    }
    .wp-block-navigation-item{
        &.wp-block-navigation-link,
        &.wp-block-navigation-submenu{
            min-width: 148px;
            display: block;
            position: relative;
            @media screen and (max-width: 1200px){
                min-width: 80px;
            }
            @include v.mq(){
                min-width: inherit;
                width: 100%;
            }
            .wp-block-navigation-item__content{
                    padding: 20px 10px;
                    // width: 100%;
                    text-align: center;
                    color: g.$wp--preset--color--wc-23-jackolantern;
                    @media screen and (max-width: 1200px){
                        padding: 10px 5px;
                    }
                    @include v.mq(){
                        text-align: left;
                    }
                    &:hover{
                        text-decoration: none;
                        background: rgba(g.$wp--preset--color--wc-23-jackolantern, .95);
                        color: g.$wp--preset--color--wc-23-white;
                    }
                .wp-block-navigation-item__label{
                    color: g.$wp--preset--color--wc-23-jackolantern;
                }
                &:hover{
                    .wp-block-navigation-item__label{
                        color: g.$wp--preset--color--wc-23-white;
                    }
                }
            }
            &.wp-block-navigation-submenu{
                @include v.mq(){
                    padding: 0;
                }
                .wp-block-navigation-item__content{
                    @media screen and (max-width: 1200px){
                        margin-right: 15px;
                    }
                    @include v.mq(){
                        margin-right: 0;
                    }
                }
            }
            &:hover{
                background: rgba(g.$wp--preset--color--wc-23-jackolantern, .95);
                color: g.$wp--preset--color--wc-23-white;
                text-decoration: none;
                .wp-block-navigation-item__content{
                    color: g.$wp--preset--color--wc-23-white;
                    @include v.mq(){
                        color: g.$wp--preset--color--wc-23-jackolantern;
                    }
                }
                .wp-block-navigation__submenu-icon{
                    svg{
                        path{
                            stroke: g.$wp--preset--color--wc-23-white;
                        }
                    }
                }
            }
        }
    }
    .wp-block-navigation__submenu-icon{
        background: transparent;
        position: absolute;
        right: 12px;
        top: 40%;
        width: 14px;
        height: 14px;
        @media screen and (max-width: 1200px){
            top: 35%;
            right: 5px;
            width: 12px;
            height: 12px;
        }
        svg{
            width: 14px;
            height: 14px;
            @media screen and (max-width: 1200px){
                width: 12px;
                height: 12px;
            }
            path{
                stroke: g.$wp--preset--color--wc-23-jackolantern;
            }
        }
    }
    .has-child{
        &:not(.open-on-click){
            &:hover{
                .wp-block-navigation__submenu-container{
                    &.wp-block-navigation-submenu{
                        min-width: 148px;
                        background: rgba(g.$wp--preset--color--wc-23-jackolantern, .8);
                        border: none;
                        border-radius: 0 0 10px 10px;
                        left: 0;
                        border-top: 1px solid g.$wp--preset--color--wc-23-white;
                        @media screen and (max-width: 1200px){
                            min-width: 120px;
                        }
                        @include v.mq(){
                            min-width: inherit;
                            width: 100%;
                            border-radius: 0;
                            border-top: none;
                            padding: 0;
                        }
                        .wp-block-navigation-item{
                            border-bottom: 1px solid g.$wp--preset--color--wc-23-white;
                            @include v.mq(){
                                border-bottom: none;
                            }
                            &:last-of-type{
                                border-bottom: none;
                                border-radius: 0 0 10px 10px;
                                @include v.mq(){
                                    border-radius: 0;
                                }
                            }
                            .wp-block-navigation-item__content{
                                color: g.$wp--preset--color--wc-23-white;
                                justify-content: center;
                                padding: 15px 10px;
                                @media screen and (max-width: 1200px){
                                    padding: 6px 5px;
                                }
                                @include v.mq(){
                                    color: g.$wp--preset--color--wc-23-jackolantern;
                                    justify-content: flex-start;
                                    padding: 4% 6%;
                                }
                                &:hover{
                                    border-radius: 0 0 10px 10px;
                                    @include v.mq(){
                                        border-radius: 0;
                                    }
                                    .wp-block-navigation-item__label{
                                        color: g.$wp--preset--color--wc-23-white;
                                        
                                    }
                                }
                                .wp-block-navigation-item__label{
                                    color: g.$wp--preset--color--wc-23-white;
                                    @include v.mq(){
                                        color: g.$wp--preset--color--wc-23-jackolantern;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//ハンバーガー　閉じてる時
.wp-block-navigation__responsive-container{
    &-open{
        @include v.mq(){
            display: block;
            background: g.$wp--preset--color--wc-23-jackolantern;
            width: 55px;
            height: 55px;
            position: absolute;
            top: 10px;
            right: 10px;
            border-radius: 4px;
            z-index: 2;
            box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
            svg{
                width: 30px;
                height: 30px;
                margin: 0 auto;
                path{
                    stroke: g.$wp--preset--color--wc-23-white;
                    fill: g.$wp--preset--color--wc-23-white;
                }
            }
            &:after{
                content: 'MENU';
                display: block;
                text-align: center;
                font-family: 'Noto Sants' serif;
                font-weight: bold;
                font-size: 10px;
                color: g.$wp--preset--color--wc-23-white;
            }
        }
    }
}


// ハンバーガー開いてるとき
.has-modal-open{
    .wp-block-navigation__responsive-container{
        &.has-modal-open{
            &.is-menu-open{
                padding: 0;
                background: g.$wp--preset--color--wc-23-milk;
                .wp-block-navigation__responsive-container-content{
                    padding-top: calc(3rem + 32px);
                    .wp-block-navigation__container{
                        border-top: 1px solid g.$wp--preset--color--wc-23-spgnav_line;
                    }
                    .has-child{
                        .wp-block-navigation__submenu-container{
                            padding: 0;
                            min-width: 100%;
                        }
                    } 
                    .wp-block-navigation-item__content{
                        padding: 4% 6%;
                        width: 88%;
                        border-bottom: 1px solid g.$wp--preset--color--wc-23-spgnav_line;
                    }
                }
            }
        }
    }
    .wp-block-navigation__responsive-container-close{
        @include v.mq(){
            display: block;
            background: g.$wp--preset--color--wc-23-jackolantern;
            width: 55px;
            height: 55px;
            position: absolute;
            top: 10px;
            right: 10px;
            border-radius: 4px;
            z-index: 2;
            box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
            svg{
                width: 30px;
                height: 30px;
                margin: 0 auto;
                path{
                    stroke: g.$wp--preset--color--wc-23-white;
                    fill: g.$wp--preset--color--wc-23-white;
                }
            }
            &:after{
                content: 'CLOSE';
                display: block;
                text-align: center;
                font-family: 'Noto Sants' serif;
                font-weight: bold;
                font-size: 10px;
                color: g.$wp--preset--color--wc-23-white;
            }
        }
    }
}


//footer

.common--footer{
    &--nav{
        font-size: 16px;
        line-height: 2;
        @include v.mq(){
            font-size: 14px;
        }
    }
}