/**
 * header / header
 */
 @use '../global-styles-inline-css' as g;
 @use '../_variables' as v;

.page,
.blog,
.single{
    .wp-site-blocks{
        padding-top: 0;
    }
}

 .wp-block-template-part{
    width: 100%;
    background: rgba(g.$wp--preset--color--wc-23-milk, .8);
    position: fixed;
    z-index: 10;
    @include v.mq(pc){
        background: transparent;
    }
 }