@charset "UTF-8";
/**
 * WordCamp Tokyo 2023 customize styles
 */

@use "mixins";
@use "global-styles-inline-css";

@use "header";
@use "global-nav";
@use "footer";

@use "front-page";
@use "archive";

@use "cta";
@use "sponsor";
@use "timetable";

.teaser-home{
    &--kv{
        background-image: url(https://raw.githubusercontent.com/wctokyo/2023-wctokyo-styles/3a67484d9866fd628437157b55fdbfd0f1a60102/images/main_bg.svg);
        background-repeat: no-repeat;
        background-position: top center;
    }
}