
    $--wp--preset--font-family--noto-sans: 'Noto Sans JP', sans-serif;
    $--wp--preset--font-family--josefin-font: 'Josefin Sans', sans-serif;
    $--wp--style--global--content-size: 920px;
    $--wp--style--global--wide-size: 1130px;
    $--wp--preset--color--wc-23-darkgrey: rgb(131, 12, 8);
	$--wp--preset--color--wc-23-black: #231815;
	$--wp--preset--color--wc-23-milk: #F3EEE8;
	$--wp--preset--color--wc-23-azure: #4041E4;
	$--wp--preset--color--wc-23-pumpkin: #F5B444;
	$--wp--preset--color--wc-23-jackolantern: #573531;
	$--wp--preset--color--wc-23-emerald: #1E756D;

.sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 16px !important;
    font-family: $--wp--preset--font-family--noto-sans;
    line-height: 1.8;
    background-color: $--wp--preset--color--wc-23-milk;
    color: $--wp--preset--color--wc-23-black;
}
// TTTのフォントの DM SANS をさも josefin Snasのように扱う
.has-dm-sans-font-family{
    font-family: $--wp--preset--font-family--josefin-font !important;
}


.has-small-font-size{
    font-size: 12px !important;
}
.has-medium-font-size{
    font-size: 16px !important;
}
.has-large-font-size{
    font-size: 20px !important;
}
.has-x-large-font-size{
    font-size: 32px !important;
}
.has-xx-large-font-size{
    font-size: 64px !important;
}

.alignwide{
    max-width: 1130px !important;
}
.alignfull{
    max-width: none !important;
    width: 100% !important;
}