/**
 * mixins
 */

// font-size
// $size : 文字サイズ
@mixin fontsize( $size: 16px ) {
  font-size: ( $size / 16px ) * 1rem;
}

// レスポンシブな文字サイズ
// $fontsize : デザイン上の文字サイズ
// $designwidth : デザインのウィンドウ幅
@mixin vwfont( $fontsize, $designwidth:768px ) {
  font-size: ( $fontsize / $designwidth ) * 100vw;
}


// レスポンシブな画像のサイズ指定
@mixin fluidimage() {
  width: 100%;
  height: auto;
}


// 上下左右中央レイアウト
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}


@mixin abs_top-center() {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@mixin abs_top() {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}